// Init
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

// Solids
$font: "Inter", sans-serif;
$positive: #1eb589;
$negative: #dc414c;
$bitcoin: #f69119;
$ether: #5d79e8;
$tether: #1c8f68;
$doge: #cfb53f;
$inspect: solid red 1px;

// Light Mode
$bgPrimary: #ffffff;
$bgSecondary: #f7f9ff;
$bgCards: #f1f3fa;
$textPrimary: #1d1f29;
$textSecondary: #63687d;

// Light Mode

// ---Global Styles
body {
  font-family: $font;
  background: $bgPrimary;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.bg-top {
  background: $bgSecondary;
  width: 100%;
  height: 244px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
main {
  border: $inspect;
  margin-top: 36px;
  width: 1110px;
}

// ---Header Styles
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: $textPrimary;
    text-transform: capitalize;
  }
  h2 {
    font-size: 0.875rem;
    font-weight: 700;
    color: $textSecondary;
    text-transform: capitalize;
  }
  label {
    font-size: 0.875rem;
    font-weight: 700;
    color: $textSecondary;
    text-transform: capitalize;
  }
}
